.block1 {
  height: 927px;
  position: relative;
  background: #e5e5e5;
  margin-top: -100px;
  display: flex;
  z-index: -1;
}

.block1__content1 {
  width: 567px;
  margin-left: 216px;
}

.block1__content1_text1 {
  margin-top: 243px;
  width: 567px;
  height: 193px;
  font-weight: 700;
  font-size: 90px;
  line-height: 109px;
}

.block1__content1_text2 {
  margin-top: 36px;
  width: 551px;
  height: 75px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.block1__content1_a1 {
  display: flex;
  align-items: center;
  margin-top: 118px;
}

.block1__content1_a1_knopka {
  width: 267px;
  height: 72px;
  margin-right: 31px;
  background-color: rgb(255, 0, 0);
  border-radius: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 26.4944px;
  line-height: 72px;
}

.block1__content1_a1_knopka_ssilka {
  text-decoration: none;
  color: #ffffff;
}

.block1__content1_a1_text1 {
  margin-right: 8px;
  font-weight: 400;
  font-size: 29.069px;
  line-height: 40px;
  color: #94a2b3;
}
.block1__content1_a1_ssilka {
  text-decoration: none;
}

.block1__content1_a1_text2 {
  font-weight: 400;
  font-size: 29.069px;
  line-height: 40px;
  color: #299ef3;
}

.block1_content2 {
}

.foto1 {
  position: absolute;
  margin-left: 653.64px;
}

.foto2 {
  position: absolute;
  left: 946px;
  margin-top: 166px;
}

.foto3 {
  position: absolute;
  left: 923px;
  margin-top: 425px;
  z-index: -2;
}

.foto4 {
  position: absolute;
  left: 894px;
  margin-top: 518px;
}

.foto5 {
  position: absolute;
  left: 1729px;
  margin-top: 803px;
}

.foto6 {
  position: absolute;
  left: 1578px;
  margin-top: 533px;
}
